/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

/* A4 */
body {
    background: #e5e7eb;
    padding: 30px;
}

.cv {
    width: 210mm;
    height: 297mm;
    margin: auto;
    background: #fff;
    display: grid;
    grid-template-columns: 35% 65%;
}

/* SIDEBAR */
.sidebar {
    background: #183470;
    color: #fff;
    padding: 30px;
}

.sidebar img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 25px;
}

.sidebar h3 {
    margin-bottom: 10px;
    border-bottom: 1px solid #555;
    padding-bottom: 6px;
    font-size: 16px;
}

.sidebar ul {
    list-style: none;
}

.sidebar li {
    margin-bottom: 12px;
    font-size: 15px;
}

/* CONTENT */
.content {
    padding: 35px;
    color: #1f2937;
}

.header h1 {
    font-size: 34px;
    letter-spacing: 2px;
}

.header h2 {
    font-size: 16px;
    font-weight: 500;
    color: #2563eb;
    margin-bottom: 20px;
}

.content section {
    margin-bottom: 20px;
}

.content h3 {
    color: #2563eb;
    margin-bottom: 8px;
    font-size: 18px;
}

p {
    line-height: 1.6;
    font-size: 14px;
}

ul {
    margin-left: 18px;
    font-size: 14px;
}

li {
    margin-bottom: 6px;
}

